@use "variables" as *;

// header variables
$header-height: 64px;
$header-bg: #fff;

// sidebar variables
$sidebar-width: 250px;
$sidebar-bg: #fff;

.header {
    background-color: $header-bg;
    height: $header-height;
    position: sticky;
    top: 0;
    left: $sidebar-width;
    width: calc(100% - $sidebar-width);
    border-bottom: $border;
    box-shadow: 0px 4px 12px $shadow-color;
}

.sidebar {
    background-color: $sidebar-bg;
    width: $sidebar-width;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    border-right: $border;
    box-shadow: 0px 4px 12px $shadow-color;
}

.content {
    overflow: auto;
    height: calc(100vh - $header-height);
    width: calc(100% - $sidebar-width);
    position: fixed;
    top: $header-height;
    left: $sidebar-width;
    padding: $spacing-l;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}